extends @pug/base

append globals
	- pageName = 'biography-intro'

append vars

block content
	+router(pageName)
		include @components/header/header

		+b.biography
			include ./biography-main

			+e.nav
				+e.nav-container
					ul
						li.current
							a(href=`${baseDir}biography/`) Начало
						li ....
						li
							a(href=`${baseDir}biography/biography-1928-1941/`) 1928 – 1941
						li ....
						li
							a(href=`${baseDir}biography/biography-1941-1945/`) 1941 - 1945
						li ....
						li
							a(href=`${baseDir}biography/biography-1946-1952/`) 1946 - 1952
						li ....
						li
							a(href=`${baseDir}biography/biography-1953–1966/`) 1953 – 1966
						li ....
						li
							a(href=`${baseDir}biography/biography-1967–1972/`) 1967 – 1972
						li ....
						li
							a(href=`${baseDir}biography/biography-1972–1993/`) 1972 – 1993
						li ....
						li
							a(href=`${baseDir}biography/biography-1993–1996/`) 1993 – 1996
						li ....
						li
							a(href=`${baseDir}biography/biography-1997–2000/`) 1997 – 2000
						li ....
						li
							a(href=`${baseDir}biography/biography-2001–2018/`) 2001 – 2018
